body{
    margin: 0%;
    padding: 0%;
}
.topbar{
    width: 100%;
    height: 15%;
    background-color: #4A86C3;
    margin: 0px;
    align-content: center;
    position: fixed;
    z-index: 1;
    opacity: 99%;
}
.content-list{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding-top: 3%;
    padding-bottom: 1%;
}
.content-list .logo-wrapper-container{
    margin-right: 5%;
    text-align: center;
    list-style: none;
    height: 100%;
    width: 20%;
    position: absolute;
    top: 3%;
    left: 0%;
    align-content: center;
}
.content-list .logo-wrapper-container a{
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}
.content-list .logo-wrapper-container a div{
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-image: url(../Logo.png);
    background-size: 100% 100%;

    background-repeat: no-repeat;
}

.content-list .options-wrapper-container{
    position: absolute;
    height: 100%;
    width: fit-content;
    text-align: center;
    left: 22%;
    list-style: none;
    align-content: center;
}
.content-list .options-wrapper-container ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0px;
    align-content: center;
    padding: 0%;
}
.content-list .options-wrapper-container ul li{
    list-style: none;
    margin-right: 5%;
    margin-left: 5%;
    height: 100%;
    width: 270px;
    font-size: 25px;
    padding: 0%;
    /*
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
}
.content-list .options-wrapper-container ul li a:hover{
    color: #97D15D;
    border-bottom: 3px white solid;
}
.content-list .options-wrapper-container ul li a{
    height: 100%;
    width: fit-content;
    text-decoration: none;
    color: white;
    font-family: poppins;
    font-weight: 200;
    transition: 0.6s;
}
.content-list .contact-wrapper-container{
    position: absolute;
    height: 100%;
    width: fit-content;
    text-align: center;
    right: 5%;
    list-style: none;
}
.content-list .contact-wrapper-container a{
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    color: white;
    transition: 0.6s;
}
.content-list .contact-wrapper-container a div{
    width: 100%;
    height: fit-content;
    padding: 5%;
    margin: 0%;
    background-color: #97D15D;
    font-size: 25px;
    font-family: 'roboto';
    font-weight: 200;
    border-radius: 5px;
}

.content-list .contact-wrapper-container a div:hover{
    color: #4A86C3;
    transform: translateY(-2%);
    transition: 0.6s;
}
